Repository gnoverse/tlin, pull requests merged in 2024-10, with the labels that each got.

#84 nolint
  Makefile
  internal/engine.go
  internal/engine_test.go
  internal/nolint.go
  internal/nolint_test.go
  lint/lint.go
  testdata/emit/emit1_nolint.gno
Labels: AST, P-high, T-engine

#85 feat: Deprecated Function Checker
  formatter/builder.go
  formatter/deprecated.go
  formatter/formatter_test.go
  internal/checker/deprecate.go
  internal/checker/deprecate_test.go
  internal/engine.go
  internal/lints/deprecate_func.go
  internal/rule_set.go
  testdata/deprecate/orig_caller.gno
Labels: A-lint, T-format, AST, T-engine

#87 refactor: Refactor linter and Remove Unnecessary File Checks
  formatter/builder.go
  formatter/doc.go
  formatter/formatter_test.go
  internal/checker/deprecate.go
  internal/checker/deprecate_test.go
  internal/engine.go
  internal/lints/deprecate_func.go
  internal/lints/format_emit.go
  internal/lints/lint_test.go
  internal/lints/missing_package_mod.go
  internal/lints/regex_lint_test.go
  internal/lints/repeated_regex_compilation.go
  internal/nolint/nolint.go
  internal/nolint/nolint_test.go
  internal/rule_set.go
  testdata/demo.gno
Labels: Refactor

#89 feat: Disable `typecheck`
  .golangci.yml
  cmd/tlin/main.go
  formatter/builder.go
  formatter/formatter_test.go
  internal/analysis/cfg/cfg.go
  internal/branch/branch.go
  internal/engine.go
  internal/engine_test.go
  internal/fixer/fixer.go
  internal/fixer/fixer_test.go
  internal/lints/default_golangci.go
  internal/lints/defers.go
  internal/lints/detect_cycle_test.go
  internal/lints/detect_cycles.go
  internal/lints/gno_analyzer_test.go
  internal/lints/lint_test.go
  internal/nolint/nolint.go
  internal/nolint/nolint_test.go
  internal/symbol_table.go
  internal/symbol_table_test.go
Labels: bug, A-lint, T-engine

#91 feat: configuration file of rules
  README.md
  cmd/tlin/main.go
  cmd/tlin/main_test.go
  formatter/builder.go
  formatter/cyclomatic_complexity.go
  formatter/defers.go
  formatter/deprecated.go
  formatter/early_return.go
  formatter/format_emit.go
  formatter/general.go
  formatter/missing_mod_pacakge.go
  formatter/simplify_slice_expr.go
  formatter/slice_bound.go
  formatter/unnecessary_type_conv.go
  go.mod
  internal/engine.go
  internal/engine_test.go
  internal/lints/cyclomatic_complexity.go
  internal/lints/default_golangci.go
  internal/lints/defers.go
  internal/lints/defers_test.go
  internal/lints/deprecate_func.go
  internal/lints/detect_cycles.go
  internal/lints/early_return.go
  internal/lints/early_return_test.go
  internal/lints/format_emit.go
  internal/lints/gno_analyzer.go
  internal/lints/gno_analyzer_test.go
  internal/lints/lint_test.go
  internal/lints/loop_allocation.go
  internal/lints/missing_package_mod.go
  internal/lints/missing_package_mod_test.go
  internal/lints/regex_lint_test.go
  internal/lints/repeated_regex_compilation.go
  internal/lints/simplify_slice_expr.go
  internal/lints/slice_bound.go
  internal/lints/unncessary_type_conversion.go
  internal/lints/useless_break.go
  internal/rule_set.go
  internal/types/types.go
  lint/lint.go
Labels: T-engine

#94 feat: Prevent Constant Error Declaration
  docs/rfc/const-error-decl.md
  docs/rfc/template.md
  internal/engine.go
  internal/lints/const_error_decl.go
  internal/lints/lint_test.go
  internal/rule_set.go
  testdata/const-error-decl/const_decl.gno
  testdata/const-error-decl/const_decl_multiple.gno
  testdata/const-error-decl/var_decl.gno
Labels: A-lint, RFC

#90 chore(formatting): Print Line Position in to Header
  formatter/builder.go
  formatter/formatter_test.go
Labels: T-format

#97 feat: Add `const-error-declaration` Suggestion
  formatter/builder.go
  formatter/cyclomatic_complexity.go
  formatter/defers.go
  formatter/deprecated.go
  formatter/early_return.go
  formatter/format_emit.go
  formatter/formatter_test.go
  formatter/general.go
  formatter/missing_mod_pacakge.go
  formatter/simplify_slice_expr.go
  formatter/slice_bound.go
  formatter/unnecessary_type_conv.go
  internal/lints/const_error_decl.go
  internal/lints/lint_test.go
Labels: A-lint, T-format

#103 perf: Reuse Cached Template
  formatter/builder.go
  formatter/formatter_test.go
  formatter/slice_bound.go
Labels: L-performance
